<section class="user-infor-page pb-5" style="padding-top: 175px">
  <div class="container shadow bg-white pb-4 pt-5 rounded">
    <div class="row">
      <div class="col-3 border-right px-0">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item">
            <a class="nav-link active d-flex align-items-center" href="">
              <i class="fa-solid fa-user mr-2"></i>
              <span>Thông tin cá nhân</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="">
              <i class="fa-solid fa-lock mr-2"></i>
              <span>Đổi mật khẩu</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="">
              <i class="fa-solid fa-clock mr-2"></i>
              <span>Lịch sử đặt phòng</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-9 pl-5">
        <div class="w-100 mb-5">
          <span
            class="h4 font-weight-bold"
            style="border-bottom: 2px solid #ff8917"
            >Thông tin các nhân</span
          >
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
          <div class="row">
            <div class="col-md-6 form-group">
              <mat-form-field class="w-100">
                <mat-label>Họ</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Nhập họ ..."
                  formControlName="lastName"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6 form-group">
              <mat-form-field class="w-100">
                <mat-label>Tên</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Nhập tên ..."
                  formControlName="firstName"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12 form-group">
              <mat-form-field class="w-100">
                <mat-label>Địa chỉ Email</mat-label>
                <input
                  type="email"
                  matInput
                  placeholder="Nhập địa chỉ email ..."
                  formControlName="email"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12 form-group">
              <mat-form-field class="w-100">
                <mat-label>Số điện thoại</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Nhập số điện thoại ..."
                  formControlName="phoneNumber"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12 form-group">
              <mat-form-field class="w-100">
                <mat-label>Nhập ngày sinh</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="dateOfBirth"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12 form-group" style="position: relative">
              <div class="d-flex align-items-center">
                <mat-form-field class="w-100">
                  <mat-label>Địa chỉ</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Nhập địa chỉ ..."
                    formControlName="fullAddress"
                    readonly
                  />
                </mat-form-field>
                <div class="btn-address w-100">
                  <app-form-address
                    [action]="'update'"
                    (eventEmitter)="onAddressEmitter($event)"
                  ></app-form-address>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <label class="control-label">Thêm ảnh avatar</label>
              <app-file-input
                [multiple]="false"
                (eventEmitter)="onFileInputEmitter($event)"
              ></app-file-input>
            </div>
            <div class="col-12 d-flex align-items-end">
              <button
                type="submit"
                class="btn palatin-btn mt-3"
                style="width: 210px"
              >
                Cập nhật
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
