<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card card-admin">
      <div class="card-header" style="background: none">
        <h5>Thêm thông tin</h5>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white p-0">
            <li class="breadcrumb-item">
              <a href="#"
                ><i class="fa-solid fa-house" style="font-size: 16px"></i
              ></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Quản lý chỗ ở</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
          </ol>
        </nav>
      </div>
      <div class="card-body bg-white">
        <form [formGroup]="form" (ngSubmit)="create()" novalidate>
          <div>
            <div class="row">
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Tên chỗ ở</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Nhập tên chỗ ở ..."
                    formControlName="accommodationName"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Loại chỗ ở</mat-label>
                  <mat-select formControlName="accommodationType">
                    <mat-option>Vui lòng chọn ...</mat-option>
                    <mat-option
                      *ngFor="let data of listAccommodationType"
                      value="{{ data.accommodationTypeId }}"
                      >{{ data.accommodationTypeName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group" style="position: relative">
                <div class="d-flex align-items-center">
                  <mat-form-field class="w-100">
                    <mat-label>Địa chỉ</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Nhập địa chỉ ..."
                      formControlName="address"
                      readonly
                    />
                  </mat-form-field>
                  <div class="btn-address w-100">
                    <app-form-address
                      [form]="this.form"
                      [action]="'create'"
                    ></app-form-address>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Giờ checkin</mat-label>
                  <input
                    matInput
                    [format]="24"
                    [ngxMatTimepicker]="pickerCheckin"
                    placeholder="Nhập giờ checkin ..."
                    formControlName="checkin"
                  />
                  <mat-icon matSuffix (click)="pickerCheckin.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #pickerCheckin></ngx-mat-timepicker>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Số điện thoại</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Nhập số điện thoại ..."
                    formControlName="phone"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Giờ checkout</mat-label>
                  <input
                    matInput
                    [format]="24"
                    [ngxMatTimepicker]="pickerCheckout"
                    placeholder="Nhập giờ checkout ..."
                    formControlName="checkout"
                  />
                  <mat-icon matSuffix (click)="pickerCheckout.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #pickerCheckout></ngx-mat-timepicker>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Địa chỉ email</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Nhập địa chỉ email ..."
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
              <div class="col-6 form-group">
                <label>Xếp hạng sao</label><br />
                <rating class="star-acc" [max]="5" formControlName="star"></rating>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <mat-form-field class="example-chip-list w-100">
                    <mat-label>Địa điểm xung quanh</mat-label>
                    <mat-chip-grid
                      #chipGrid
                      aria-label="Fruit selection"
                      formControlName="specialArounds"
                    >
                      <mat-chip-row
                        *ngFor="let data of specialArounds"
                        (removed)="remove(data)"
                      >
                        {{ data }}
                        <button
                          matChipRemove
                          [attr.aria-label]="'remove ' + data"
                        >
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    </mat-chip-grid>
                    <input
                      placeholder="Nhập địa điểm xung quanh..."
                      #specialAroundInput
                      formControlName="specialAroundCtrl"
                      [matChipInputFor]="chipGrid"
                      [matAutocomplete]="auto"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="selected($event)"
                    >
                      <mat-option
                        *ngFor="let data of filteredspecialArounds | async"
                        [value]="data"
                      >
                        {{ data }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Mô tả chỗ ở</mat-label>
                  <textarea
                    matInput
                    placeholder="Nhập mô tả chỗ ở ..."
                    rows="8"
                    formControlName="description"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-12 mb-3">
                <label class="control-label">Thêm ảnh chỗ ở</label>
                <div class="file-loading">
                  <input
                    id="file-input"
                    formControlName="image"
                    type="file"
                    class="file"
                    data-browse-on-zone-click="true"
                    multiple
                    (change)="onFileChange($event)"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn palatin-btn px-5 mr-3">
                Cập nhật
              </button>
              <button type="reset" class="btn palatin-btn btn-3 px-5">
                Nhập lại
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
