<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card card-admin">
      <div class="card-header" style="background: none">
        <h5>Thêm thông tin</h5>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white p-0">
            <li class="breadcrumb-item">
              <a href="#"
                ><i class="fa-solid fa-house" style="font-size: 16px"></i
              ></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Quản lý chỗ ở</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
          </ol>
        </nav>
      </div>
      <div class="card-body bg-white">
        <form [formGroup]="form" (ngSubmit)="create()" novalidate>
          <div>
            <div class="row">
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Tên chỗ ở</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Nhập tên chỗ ở ..."
                    formControlName="accommodationName"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Loại chỗ ở</mat-label>
                  <mat-select formControlName="accommodationType">
                    <mat-option>Vui lòng chọn ...</mat-option>
                    <mat-option
                      *ngFor="let data of listAccommodationType"
                      value="{{ data.accommodationTypeId }}"
                      >{{ data.accommodationTypeName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group" style="position: relative">
                <div class="d-flex align-items-center">
                  <mat-form-field class="form-address-field w-100">
                    <mat-label>Địa chỉ</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Nhập địa chỉ ..."
                      formControlName="fullAddress"
                      readonly
                    />
                  </mat-form-field>
                  <div class="btn-address w-100">
                    <app-form-address
                      [action]="'create'"
                      (eventEmitter)="onAddressEmitter($event)"
                    ></app-form-address>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Giờ checkin</mat-label>
                  <input
                    matInput
                    [format]="24"
                    [ngxMatTimepicker]="pickerCheckin"
                    placeholder="Nhập giờ checkin ..."
                    formControlName="checkin"
                  />
                  <mat-icon matSuffix (click)="pickerCheckin.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #pickerCheckin></ngx-mat-timepicker>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Số điện thoại</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Nhập số điện thoại ..."
                    formControlName="phone"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Giờ checkout</mat-label>
                  <input
                    matInput
                    [format]="24"
                    [ngxMatTimepicker]="pickerCheckout"
                    placeholder="Nhập giờ checkout ..."
                    formControlName="checkout"
                  />
                  <mat-icon matSuffix (click)="pickerCheckout.open()">
                    watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker #pickerCheckout></ngx-mat-timepicker>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Địa chỉ email</mat-label>
                  <input
                    type="email"
                    matInput
                    placeholder="Nhập địa chỉ email ..."
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
              <div class="col-6 form-group">
                <label>Xếp hạng sao</label><br />
                <rating
                  class="star-acc"
                  [max]="5"
                  formControlName="star"
                ></rating>
              </div>

              <div class="col-12 form-group">
                <mat-divider></mat-divider>
              </div>

              <!-- tag input -->
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'specialAround'"
                  [txtLabel]="'Mô tả địa điểm xung quanh'"
                  [txtPlaceHolder]="'Nhập địa điểm xung quanh...'"
                  [isRequired]="false"
                  (eventEmitter)="onSpecialAroundEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'bathroom'"
                  [txtLabel]="'Mô tả phòng tắm'"
                  [txtPlaceHolder]="'Nhập mô tả phòng tắm...'"
                  [isRequired]="false"
                  (eventEmitter)="onBathRoomEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'bedroom'"
                  [txtLabel]="'Mô tả phòng ngủ'"
                  [txtPlaceHolder]="'Nhập mô tả phòng ngủ...'"
                  [isRequired]="false"
                  (eventEmitter)="onBedRoomEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'dinningroom'"
                  [txtLabel]="'Mô tả phòng bếp'"
                  [txtPlaceHolder]="'Nhập mô tả phòng bếp...'"
                  [isRequired]="false"
                  (eventEmitter)="onDinningRoomEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'language'"
                  [txtLabel]="'Mô tả ngôn ngữ sử dụng'"
                  [txtPlaceHolder]="'Nhập mô tả ngôn ngữ sử dụng...'"
                  [isRequired]="false"
                  (eventEmitter)="onLanguageEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'internet'"
                  [txtLabel]="'Mô tả intenet'"
                  [txtPlaceHolder]="'Nhập mô tả intenet...'"
                  [isRequired]="false"
                  (eventEmitter)="onInternetEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'drinkAndFood'"
                  [txtLabel]="'Mô tả dịch vụ ăn uống'"
                  [txtPlaceHolder]="'Nhập mô tả dịch vụ ăn uống...'"
                  [isRequired]="false"
                  (eventEmitter)="onDrinkAndFoodEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'receptionService'"
                  [txtLabel]="'Mô tả dịch vụ lễ tân'"
                  [txtPlaceHolder]="'Nhập mô tả dịch vụ lễ tân...'"
                  [isRequired]="false"
                  (eventEmitter)="onReceptionServiceEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'cleaningService'"
                  [txtLabel]="'Mô tả dịch vụ lau dọn'"
                  [txtPlaceHolder]="'Nhập mô tả dịch vụ lau dọn...'"
                  [isRequired]="false"
                  (eventEmitter)="onCleaningServiceEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'pool'"
                  [txtLabel]="'Mô tả bể bơi'"
                  [txtPlaceHolder]="'Nhập mô tả bể bơi...'"
                  [isRequired]="false"
                  (eventEmitter)="onPoolEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <div class="col-6 form-group">
                <app-custom-field-tag-input
                  [property]="'other'"
                  [txtLabel]="'Mô tả dịch vụ khác'"
                  [txtPlaceHolder]="'Nhập mô tả dịch vụ khác...'"
                  [isRequired]="false"
                  (eventEmitter)="onOtherEmitter($event)"
                ></app-custom-field-tag-input>
              </div>
              <!-- tag input -->

              <div class="col-12 form-group">
                <mat-divider></mat-divider>
              </div>

              <div class="col-md-12 form-group">
                <mat-form-field class="w-100">
                  <mat-label>Mô tả chỗ ở</mat-label>
                  <textarea
                    matInput
                    placeholder="Nhập mô tả chỗ ở ..."
                    rows="8"
                    formControlName="description"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-12 mb-3">
                <label class="control-label">Thêm ảnh chỗ ở</label>
                <app-file-input
                  [multiple]="true"
                  (eventEmitter)="onFileInputEmitter($event)"
                ></app-file-input>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn palatin-btn px-5 mr-3">
                Cập nhật
              </button>
              <button type="reset" class="btn palatin-btn btn-3 px-5">
                Nhập lại
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
