.date-input:disabled,
.date-input[readonly] {
  background-color: transparent;
}

/*star-rating*/
.star-acc {
  font-size: 1.7rem;
  color: #ffc107 !important;
}

.btn-address {
  position: absolute;
  top: 10px;
  right: 25px;
  width: fit-content !important;
}
