#room-dialog-carousel .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 425px;
}

#room-dialog-carousel .carousel-indicators img {
  object-fit: cover;
  width: 100%;
  height: 90px;
}

.modal-content .modal-header {
  padding: 10px;
  border-bottom: 0;
}

.carousel-indicators {
  position: static;
}

.carousel-indicators li {
  width: 200px;
  height: 100%;
  opacity: 0.8;
  border: none;
}

.carousel-indicators li.active img {
  /* outline: 3px solid #5bbaff; */
  outline: 3px solid #5bbaff;
}

.carousel-indicators li img:hover {
  opacity: 0.5;
}

.carousel-control-next,
.carousel-control-prev {
  bottom: 85px;
}

.dialog-body {
  height: 690px;
  overflow-y: auto;
}

.dialog-body::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1200px) {
  #room-dialog {
    max-width: 1240px !important;
    max-height: calc(100% - 3.5rem);
  }
}

.service-box {
  display: inline-flex;
  margin-bottom: 3px;
}

.service-box span {
  padding: 0px 2px;
  border: 1px solid #949494;
  border-radius: 2px;
}
