.btn-group .nice-select span {
  font-size: 17px;
  color: #0071c2;
  width: 250px;
}

.btn-group .nice-select:hover {
  background-color: rgba(0, 113, 194, 0.06) !important;
  border-radius: 0;
}

.btn-group .nice-select:after {
  width: 8px;
  height: 8px;
  margin-top: -7px;
}

.btn-group .nice-select .list {
  left: auto;
  right: 10px;
}

.page-link {
  cursor: pointer;
}

.single-rooms-area {
  height: 475px;
}

.rooms-text {
  height: 240px;
}

.owl-theme .owl-nav {
  display: none;
}
