<section
  class="breadcumb-area bg-img d-flex align-items-center justify-content-center"
  style="background-image: url(assets/img/bg-img/bg-9.jpg)"
>
  <div class="bradcumbContent">
    <h2>Kết quả tìm kiếm</h2>
  </div>
</section>

<app-book-now></app-book-now>

<section class="rooms-area pb-5">
  <div class="container py-4 rounded shadow wow fadeInUp">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Tất cả</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Kết quả tìm kiếm
        </li>
      </ol>
    </nav>
    <div class="row px-3">
      <div
        class="col-12 col-lg-3 border rounded wow fadeInUp bg-white"
        style="height: fit-content"
      >
        <div class="border-bottom p-3">
          <h4 class="m-0">Chọn lọc theo:</h4>
        </div>
        <div class="p-3 border-bottom">
          <span class="font-weight-bold" style="font-size: 17px">
            Loại chỗ ở
          </span>
          <mat-selection-list
            #accTypeSelection
            (selectionChange)="filterSelectionChange()"
            class="pt-0"
          >
            <mat-list-option
              *ngFor="let filter of accTypeFilter"
              [togglePosition]="'before'"
              [value]="filter.value"
            >
              {{ filter.text }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="p-3 border-bottom">
          <span class="font-weight-bold" style="font-size: 17px">
            Xếp hạng chỗ ở
          </span>
          <mat-selection-list
            #propertyRatingSelection
            (selectionChange)="filterSelectionChange()"
            class="pt-0"
          >
            <mat-list-option [togglePosition]="'before'" [value]="5">
              5 sao
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="4">
              4 sao
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="3">
              3 sao
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="2">
              2 sao
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="1">
              1 sao
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="p-3 border-bottom">
          <span class="font-weight-bold" style="font-size: 17px">
            Điểm đánh giá của khách
          </span>
          <mat-selection-list
            #reviewScoreSelection
            (selectionChange)="filterSelectionChange()"
            class="pt-0"
          >
            <mat-list-option [togglePosition]="'before'" [value]="9">
              9 điểm trở lên : Tuyệt hảo
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="8">
              8 điểm trở lên : Rất tốt
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="7">
              7 điểm trở lên : Tốt
            </mat-list-option>
            <mat-list-option [togglePosition]="'before'" [value]="6">
              6 điểm trở lên : Dễ chịu
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="col-12 col-lg-9 pr-0 wow fadeInUp">
        <div data-wow-delay="100ms">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="count-result">
              <h3 class="m-0 font-weight-bold">
                Kết quả : tìm thấy {{ totalItem }} chỗ nghỉ
              </h3>
            </div>
            <div style="width: 240px">
              <mat-form-field class="w-100">
                <mat-label>Các lựa chọn cho bạn</mat-label>
                <mat-select class="form-select bg-transparent border-0">
                  <mat-option value="option1">Giá (Từ thấp đến cao)</mat-option>
                  <mat-option value="option2">Giá (Từ cao đến thấp)</mat-option>
                  <mat-option value="option3"
                    >Hạng sao (Ưu tiên cao nhất)</mat-option
                  >
                  <mat-option value="option1"
                    >Hạng sao (Ưu tiên thấp nhất)</mat-option
                  >
                  <mat-option value="option2"
                    >Được đánh giá hàng đầu</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="list-search-result">
            <div *ngFor="let data of listAccommodation" class="card mb-3">
              <div class="card-body">
                <div class="row no-gutters">
                  <div class="col-3">
                    <img
                      style="
                        width: 193px;
                        height: 193px;
                        object-fit: cover;
                        margin-top: 10px;
                      "
                      class="rounded"
                      [src]="data.filePaths[0]"
                    />
                  </div>
                  <div class="col-9">
                    <div
                      class="card-body product-box"
                      style="padding: 0.25rem 1.25rem"
                    >
                      <div
                        class="d-flex align-items-start justify-content-between"
                      >
                        <div class="d-flex flex-column">
                          <a href="">
                            <h5
                              class="card-title m-0 font-weight-bold text-truncate"
                              style="color: #0071c2; max-width: 400px"
                            >
                              {{ data.accommodationName }}
                            </h5>
                          </a>
                          <div
                            *ngIf="data.star > 0"
                            style="color: #febb02; margin-bottom: 2px"
                          >
                            <i
                              *ngFor="let data of [].constructor(data.star)"
                              class="fa-solid fa-star"
                            ></i>
                          </div>
                          <p class="mb-2" style="width: 70%; font-size: 14px">
                            {{ data.fullAddress }}
                          </p>
                        </div>
                        <div>
                          <div class="text-right">
                            <span class="text-title font-weight-bold">{{
                              data.accommodationType.accommodationTypeName
                            }}</span>
                          </div>

                          <!-- <c:set
                            var="countRate"
                            value="${FunctionUtil.countRating(RatingDAO.getAllListRatingByHotelId(hotel.hotelId))}"
                          />
                          <c:set
                            var="ratingPoint"
                            value="${FunctionUtil.countRatingPoint(RatingDAO.getAllListRatingByHotelId(hotel.hotelId))}"
                          /> -->

                          <div
                            class="d-flex align-items-center border-top pt-1"
                          >
                            <div style="width: 90px">
                              <p class="mb-0 text-right">8 đánh giá</p>
                            </div>
                            <div
                              class="d-flex align-items-center justify-content-center font-weight-bold"
                              style="
                                background: #003580;
                                height: 31px;
                                width: 31px;
                                border-radius: 5.8181818182px 5.8181818182px
                                  5.8181818182px 0;
                                color: #ffffff;
                                margin: 2px 0 0 9px;
                              "
                            >
                              5
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <c:set
                        value="${RoomDAO.getRoomMinPriceByHotelId(hotel.hotelId)}"
                        var="room"
                      /> -->

                      <!-- <c:set value="${0}" var="countService" />
                      <c:forTokens items="${room.roomService}" delims="|">
                        <c:set value="${countService + 1}" var="countService" />
                      </c:forTokens> -->

                      <p class="mb-0 text-success" style="font-size: 16px">
                        <i class="fa-solid fa-ban-smoking mr-1"></i>
                        <i class="fa-solid fa-wifi mr-1"></i>
                        4 tiện ích
                      </p>
                      <div
                        class="border-left p-2"
                        style="width: 70%; float: left; font-size: 12px"
                      >
                        <span class="font-weight-bold"></span><br />
                        <div class="text-success mt-1">
                          <span class="font-weight-bold">Miễn phí hủy</span
                          ><br />
                          Bạn có thể hủy sau, nên hãy đặt ngay hôm nay để có giá
                          tốt.
                        </div>
                      </div>
                      <div
                        class="position-relative"
                        style="
                          width: 30%;
                          float: right;
                          bottom: 30px;
                          height: 105px;
                        "
                      >
                        <div class="text-right">
                          <small class="text-muted">2 đêm, 1 người lớn</small
                          ><br />
                          <ng-container
                            *ngIf="isRoomAvailable(data.accommodationId)"
                          >
                            <span
                              class="text-danger"
                              style="text-decoration: line-through"
                              >VND
                              {{
                                getMinRoomPrice(data.accommodationId)
                                  | number : "1.0-0"
                              }}</span
                            ><br />
                            <span style="font-size: 20px; font-weight: bold"
                              >VND 2,318,400</span
                            >
                          </ng-container>
                          <ng-container
                            *ngIf="!isRoomAvailable(data.accommodationId)"
                          >
                            <span>Hiện đang hết phòng</span>
                          </ng-container>
                        </div>
                        <div class="d-flex justify-content-end">
                          <a
                            class="btn palatin-btn btn-3 {{
                              isRoomAvailable(data.accommodationId)
                                ? ''
                                : 'disabled'
                            }}"
                            href=""
                            role="button"
                            style="padding: 0 20px"
                            >{{
                              isRoomAvailable(data.accommodationId)
                                ? "Xem chỗ trống"
                                : "Hết phòng"
                            }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator
          [length]="totalItem"
          [pageIndex]="currentPage"
          [pageSizeOptions]="totalPages"
          (page)="onPageChange($event)"
          style="background-color: unset"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>

<section class="rooms-area" style="padding-bottom: 100px">
  <div class="container bg-white py-4 shadow rounded wow fadeInUp">
    <h5 class="font-weight-bold pl-3 mb-3">
      Các chỗ trống có thể bạn muốn xem
    </h5>

    <div id="relate-hotel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="owl-carousel owl-theme" id="random-hotel2">
          <!-- <c:forEach items="${listTop9}" var="o" varStatus="loop">
                        <div class="col item">
                            <a href="<%=request.getContextPath()%>/room?hotelId=${o.hotelId}">
                                <div class="single-rooms-area mb-5" data-wow-delay="200ms">
                                    <c:forTokens items="${o.hotelImage}" delims="|" var="splitImage" begin="0"
                                                 end="0">
                                        <div class="bg-thumbnail bg-img"
                                             style="background-image: url(<c:url value="/uploads/hotel/${splitImage}"/>);"></div>
                                    </c:forTokens>
                                    <div class="rooms-text text-left">
                                        <div class="line"></div>
                                        <div class="mb-1">
                                            <span class="text-white">${HotelTypeDAO.getHotelTypeById(o.hotelTypeId)}</span>
                                        </div>
                                        <h4 class="text-truncate text-white mb-1">${o.hotelName}</h4>

                                        <c:set value="${RoomDAO.getRoomMinPriceByHotelId(o.hotelId)}" var="r"/>
                                        <div class="mb-2">
                                            <p class="text-white mb-0" style="font-size: 15px;">Bắt đầu từ<strong
                                                    class="ml-2" style="font-size: 16px;">VND <fmt:formatNumber
                                                    value="${r.price * ((100-r.discountPercent) / 100)}"
                                                    type="number" maxFractionDigits="0"/></strong>
                                            </p>
                                        </div>

                                        <c:set var="countRate"
                                               value="${FunctionUtil.countRating(RatingDAO.getAllListRatingByHotelId(o.hotelId))}"/>
                                        <c:set var="ratingPoint"
                                               value="${FunctionUtil.countRatingPoint(RatingDAO.getAllListRatingByHotelId(o.hotelId))}"/>

                                        <div class="d-flex align-items-center text-white">
                                            <div class="d-flex align-items-center justify-content-center font-weight-bold"
                                                 style="background: #003580; height: 28px; width: 28px; border-radius:5.8181818182px 5.8181818182px 5.8181818182px
                                    0; color: #ffffff; margin: 0px 6px 0px 0px; ">
                                                <fmt:formatNumber
                                                        value="${ratingPoint}"
                                                        type="number" maxFractionDigits="1"/>
                                            </div>
                                            <div>
                                                <small>${countRate} đánh giá</small>
                                            </div>
                                        </div>

                                        <c:if test="${r.quantity < 5}">
                                            <div>
                                                <p class="mb-0" style="font-size: 15px; color: yellowgreen;">Chỉ còn lại
                                                        ${r.quantity}
                                                    phòng</p>
                                            </div>
                                        </c:if>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </c:forEach> -->
        </div>
      </div>
    </div>
  </div>
</section>
