<!-- Image and text -->
<nav
  class="navbar navbar-primary position-absolute py-3 w-100"
  style="background: rgba(0, 0, 0, 0.63); z-index: 5; top: 0"
>
  <div class="container">
    <img
      src="assets/img/core-img/logo.png"
      width="173"
      class="d-inline-block align-top"
      alt=""
    />
  </div>
</nav>

<div class="bg-wrapper"></div>

<div class="col-12 col-md-6 col-xl-4 form-authen">
  <div class="card">
    <div class="card-body">
      <div class="card-title m-0">
        <h4 class="card-text text-center font-weight-bold mb-4">
          Đăng nhập tài khoản
        </h4>
      </div>

      <form #form="ngForm" (ngSubmit)="verifiy()">
        <div class="mb-4">
          <mat-form-field class="w-100">
            <mat-label>Địa chỉ email</mat-label>
            <input matInput type="email" name="email" ngModel />
          </mat-form-field>
          <div
            *ngIf="
              invalidForm ||
              form.controls['email']?.dirty ||
              form.controls['email']?.touched
            "
            class="d-flex align-item-center"
          >
            <div *ngIf="form.controls['email'].hasError('required')">
              <i
                class="fa-solid fa-circle-exclamation text-danger mr-2"
                style="padding-top: 2px"
              ></i>
              <small class="text-danger">Vui lòng nhập địa chỉ email.</small>
            </div>
            <div *ngIf="form.controls['email'].hasError('email')">
              <i
                class="fa-solid fa-circle-exclamation text-danger mr-2"
                style="padding-top: 2px"
              ></i>
              <small class="text-danger">Địa chỉ email không hợp lệ.</small>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <mat-form-field class="w-100">
            <mat-label>Mật khẩu</mat-label>
            <input matInput type="password" name="password" ngModel />
          </mat-form-field>
          <div
            *ngIf="
              invalidForm ||
              form.controls['password']?.dirty ||
              form.controls['password']?.touched
            "
            class="d-flex align-item-center"
          >
            <div *ngIf="form.controls['password'].hasError('required')">
              <i
                class="fa-solid fa-circle-exclamation text-danger mr-2"
                style="padding-top: 2px"
              ></i>
              <small class="text-danger">Vui lòng nhập mật khẩu.</small>
            </div>
            <div *ngIf="form.controls['password'].hasError('minlength')">
              <i
                class="fa-solid fa-circle-exclamation text-danger mr-2"
                style="padding-top: 2px"
              ></i>
              <small class="text-danger"
                >Mật khẩu yêu cầu ít nhất 8 ký tự.</small
              >
            </div>
            <div *ngIf="form.controls['password'].hasError('maxlength')">
              <i
                class="fa-solid fa-circle-exclamation text-danger mr-2"
                style="padding-top: 2px"
              ></i>
              <small class="text-danger"
                >Mật khẩu yêu cầu không vượt quá 16 ký tự.</small
              >
            </div>
          </div>
        </div>
        <div class="mb-3 text-center">
          <button
            type="submit"
            class="btn palatin-btn btn-block w-100"
            style="height: 48px; line-height: 48px"
          >
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
