.menu-btn .dropdown-toggle::after {
  margin-left: 1em;
}

#ddl-account:hover {
  background-color: rgba(192, 192, 192, 0.3) !important;
}

.cart span {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #202020;
  background-color: #f5d730;
  display: block;
  overflow: hidden;
  text-align: center;
  line-height: 20px;
  margin-top: 5px;
  position: absolute;
  top: -5px;
  left: 30px;
}