<form [formGroup]="formSearch" (ngSubmit)="search()" novalidate>
  <div class="container form-book-area">
    <div class="row" style="margin: 0 100px">
      <div class="col-12 col-lg form-field">
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
      <div class="col-12 col-lg form-field">
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 col-lg-2 form-field">
        <button class="btn palatin-btn w-100 h-100" type="submit">Tìm Kiếm</button>
      </div>
    </div>
  </div>
</form>
