<section class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Thêm thông tin chỗ ở</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href=""><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="">Quản lý chỗ ở</a>
              </li>
              <li class="breadcrumb-item active">Thêm thông tin chỗ ở</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form [formGroup]="testForm" (ngSubmit)="submitForm()" novalidate>
        <mat-form-field class="example-chip-list w-100">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection" formControlName="fruits">
            <mat-chip-row
              *ngFor="let fruit of fruits"
              (removed)="remove(fruit)"
            >
              {{ fruit }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="New Fruit..."
            #fruitInput
            formControlName="fruitCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option
              *ngFor="let fruit of filteredFruits | async"
              [value]="fruit"
            >
              {{ fruit }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button type="submit">test</button>
      </form>
    </div>
  </div>
</section>
