<section class="user-page pb-5" style="padding-top: 175px">
  <div class="container shadow bg-white pb-4 pt-5 rounded">
    <div class="row">
      <app-user-tab
        class="col-3 border-right px-0 w-100"
        [tabActive]="1"
      ></app-user-tab>

      <div class="col-9 pl-5">
        <div class="w-100 mb-5">
          <span
            class="h4 font-weight-bold"
            style="border-bottom: 2px solid #ff8917"
            >Thông tin các nhân</span
          >
        </div>
        <div class="d-flex align-items-center">
          <p class="mb-0 mr-3">
            Để thay đổi mật khẩu của bạn, chúng tôi cần gửi liên kết đặt lại đến
            địa chỉ email của bạn.
          </p>
          <button
            mat-button
            class="text-primary font-weight-bold"
            style="min-width: 100px"
            (click)="sendEmail()"
          >
            gửi link
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
