<div
  class="modal fade"
  id="verifyModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body d-column justify-content-center p-4">
        <div class="text-center mb-3">
          <h4 class="text-center text-bold">Kiểm tra hộp thư email</h4>
          Chúng tôi đã gửi một mã xác nhận tới địa chỉ email
          {{ email }}. <br />
          Vui lòng nhập mã xác nhận để tiếp tục.
        </div>

        <form [formGroup]="formVerify" (ngSubmit)="submit()" novalidate>
          <div
            class="form-group d-flex justify-content-center align-items-start"
          >
            <div class="input-group flex-column col-md-8 mr-3">
              <input
                type="text"
                class="form-control d-inline w-100"
                formControlName="verifyCode"
                placeholder="Nhập mã xác nhận ..."
              />
              {{ formVerify.controls['verifyCode'].errors?.['invalidLengthCode'] }}
              <div
                *ngIf="
                  formVerify.invalid && (formVerify.dirty || formVerify.touched)
                "
                class="d-flex align-item-center mt-1"
              >
                <div
                  *ngIf="formVerify.controls['verifyCode'].errors?.['required']"
                >
                  <i
                    class="fa-solid fa-circle-exclamation text-danger mr-2"
                    style="padding-top: 2px"
                  ></i>
                  <small class="text-danger">Vui lòng nhập mã xác nhận.</small>
                </div>
                <div
                  *ngIf="
                  formVerify.controls['verifyCode'].errors?.['invalidLengthCode']
                  "
                >
                  <i
                    class="fa-solid fa-circle-exclamation text-danger mr-2"
                    style="padding-top: 2px"
                  ></i>
                  <small class="text-danger"
                    >Mã xác nhận phải bao gồm 6 ký tự.</small
                  >
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="btn-2 palatin-btn btn-block col-md-3 p-0"
              style="height: 38px; line-height: 43px"
              value=""
            >
              Xác nhận
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
