.mat-mdc-menu-panel {
  max-width: 100% !important;
}

/* 5 */
.service-right {
    column-count: 3;
}

.service-right .service-detail {
    display: inline-block;
    margin-bottom: 1.2rem !important;
}

.service-right .service-detail p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem !important;
}

.service-right .service-detail ul li {
    margin-bottom: 0.75rem;
}