<section class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">
                Thêm thông tin khách sạn
              </h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href=""
                  ><i class="feather icon-home"></i
                ></a>
              </li>
              <li class="breadcrumb-item">
                <a href=""
                  >Quản lý khách sạn</a
                >
              </li>
              <li class="breadcrumb-item active">
                Thêm thông tin khách sạn
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Thông tin khách sạn</h5>
          </div>
          <div class="card-body">
            <form
              method="post"
            >
              <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active text-uppercase"
                    data-toggle="tab"
                    href="#hotel1"
                    role="tab"
                    aria-selected="true"
                    >Thông tin khách sạn</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-uppercase"
                    data-toggle="tab"
                    href="#service1"
                    role="tab"
                    aria-selected="false"
                    >Chi tiết dịch vụ</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div
                  class="tab-pane fade show active"
                  id="hotel1"
                  role="tabpanel"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Tên khách sạn</label>
                        <input
                          type="text"
                          class="form-control"
                          name="hotelName"
                          placeholder="Nhập tên khách sạn ..."
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng nhập tên khách sạn!
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Thành phố</label>
                        <select class="form-control" name="cityId">
                          <option selected disabled value="">
                            Vui lòng chọn ...
                          </option>
                          <!-- <c:forEach
                            items="${CityDAO.all}"
                            var="o"
                            varStatus="loop"
                          >
                            <option value="${o.cityId}">${o.cityName}</option>
                          </c:forEach> -->
                        </select>
                        <div class="invalid-feedback">
                          Vui lòng chọn thành phố!
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Loại khách sạn</label>
                        <select class="form-control" name="hotelTypeId">
                          <option selected disabled value="">
                            Vui lòng chọn ...
                          </option>
                          <!-- <c:forEach
                            items="${HotelTypeDAO.all}"
                            var="o"
                            varStatus="loop"
                          >
                            <option value="${o.typeId}">${o.typeName}</option>
                          </c:forEach> -->
                        </select>
                        <div class="invalid-feedback">
                          Vui lòng chọn loại khách sạn
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Địa chỉ</label>
                        <input
                          type="text"
                          class="form-control"
                          name="address"
                          placeholder="Nhập địa chỉ ..."
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng nhập địa chỉ!
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Số điện thoại</label>
                        <input
                          type="text"
                          class="form-control"
                          name="phone"
                          placeholder="Nhập số điện thoại ..."
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng nhập số điện thoại!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Địa chỉ email</label>
                        <input
                          type="text"
                          class="form-control"
                          name="email"
                          placeholder="Nhập địa chỉ email ..."
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng nhập địa chỉ email!
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Mô tả khách sạn</label>
                        <textarea
                          class="form-control"
                          rows="5"
                          name="description"
                          placeholder="Nhập mô tả (dùng dấu | để xuống dòng) ..."
                          required
                          style="height: 135px"
                        ></textarea>
                        <div class="invalid-feedback">Vui lòng nhập mô tả!</div>
                      </div>
                      <div class="form-group">
                        <label>Giờ checkin</label>
                        <input
                          type="text"
                          name="checkin"
                          class="date-input form-control"
                          placeholder="Nhập giờ checkin ..."
                          autocomplete="off"
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng chọn giờ checkin!
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Giờ checkout</label>
                        <input
                          type="text"
                          name="checkout"
                          class="date-input form-control"
                          placeholder="Nhập giờ checkout ..."
                          autocomplete="off"
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng chọn giờ checkout!
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-3">
                      <div class="form-group">
                        <label>Xếp hạng sao</label><br />
                        <div class="starrr" id="star1"></div>
                        <br />
                        <input type="hidden" name="star_input" value="0" />
                        <div class="invalid-feedback">
                          Vui lòng chọn xếp hạng!
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-3">
                      <div class="form-group">
                        <label class="control-label">Địa điểm xung quanh</label>
                        <input
                          name="specialAround"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                          required
                        />
                        <div class="invalid-feedback">
                          Vui lòng thêm vào ô trống!
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-3">
                      <label class="control-label">Thêm ảnh khách sạn</label>
                      <input
                        name="image"
                        type="file"
                        class="file"
                        data-browse-on-zone-click="true"
                        multiple
                      />
                      <div class="invalid-feedback">
                        Vui lòng thêm ảnh khách sạn!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="service1" role="tabpanel">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Phòng tắm</label>
                        <input
                          name="bathroom"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Phòng ngủ</label>
                        <input
                          name="bedroom"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Phòng ăn</label>
                        <input
                          name="dinningroom"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Ngôn ngữ</label>
                        <input
                          name="language"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Internet</label>
                        <input
                          name="internet"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Dịch vụ ăn uống</label>
                        <input
                          name="drinkAndFood"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Dịch vụ lễ tân</label>
                        <input
                          name="receptionService"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Dịch vụ lau dọn</label>
                        <input
                          name="cleaningService"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Bể bơi</label>
                        <input
                          name="pool"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Dịch vụ khác</label>
                        <input
                          name="other"
                          type="text"
                          class="form-control"
                          data-role="tagsinput"
                        />
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <button type="submit" class="btn btn-primary px-5">
                        Cập nhật
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
