<h1 mat-dialog-title>Thay đổi trạng thái đặt phòng</h1>
<div mat-dialog-content class="d-flex flex-column">
  <form>
    <mat-form-field>
      <mat-label>Vui lòng chọn</mat-label>
      <mat-select>
        <mat-option>Hoàn thành</mat-option>
        <mat-option>Hủy bỏ</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lý do</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Đóng</button>
</div>
