<div class="col-md-12 col-xl-4">
  <div class="card flat-card">
    <div class="row-table">
      <div class="col-sm-6 card-body br">
        <div class="row">
          <div class="col-sm-4">
            <i
              class="fa-solid fa-users text-c-green mb-1 d-block"
              style="font-size: 26px"
            ></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>countAccount</h5>
            <span>Người dùng</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 card-body">
        <div class="row">
          <div class="col-sm-4">
            <i
              class="fa-solid text-c-red fa-accommodation mb-1 d-block"
              style="font-size: 26px"
            ></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>countAllAccommodation</h5>
            <span>Khách sạn</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row-table">
      <div class="col-sm-6 card-body br">
        <div class="row">
          <div class="col-sm-4">
            <i
              class="text-c-blue fa-solid fa-city mb-1 d-block"
              style="font-size: 25px"
            ></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>countCity</h5>
            <span>Thành Phố</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 card-body">
        <div class="row">
          <div class="col-sm-4">
            <i
              class="icon feather icon-mail text-c-yellow mb-1 d-block"
              style="font-size: 31px"
            ></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>countContact</h5>
            <span>Emails</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- widget primary card start -->
  <div class="card flat-card widget-primary-card">
    <div class="row-table">
      <div class="col-sm-3 card-body">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="col-sm-9">
        <h4>countNewBooking +</h4>
        <h6>Đặt phòng mới</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-xl-4">
  <div class="card flat-card">
    <div class="row-table">
      <div class="card border-0 mb-0">
        <div class="card-body py-4 px-4" style="height: 170px">
          <div>
            <h5 class="text-muted mb-2">
              Doanh thu tháng này<i
                class="fa fa-caret-up text-c-green m-l-10"
                style="position: relative; top: 2px; font-size: 26px"
              ></i>
            </h5>
            <h4 class="mb-2">VND</h4>
            <div class="progress mb-3">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div>
              <h5>Tăng % so với tháng trước</h5>
              <h5>Giảm % so với tháng trước</h5>
              <h5>Tăng 0 % so với tháng trước</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- widget-success-card start -->
  <div class="card flat-card widget-purple-card">
    <div class="row-table">
      <div class="col-sm-3 card-body">
        <i class="feather icon-star-on"></i>
      </div>
      <div class="col-sm-9">
        <h4>countRating</h4>
        <h6>Số lượt đánh giá</h6>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-xl-4">
  <div class="card support-bar overflow-hidden">
    <div class="card-body pb-0">
      <h2 class="m-0">listBooking.size</h2>
      <span class="text-c-blue">Tổng số lượt đặt phòng</span>
      <p class="mb-3 mt-3">Tổng tất cả số lượt đặt phòng tại trang web.</p>
    </div>
    <div id="widget-booking-chart"></div>
    <div class="card-footer bg-primary text-white">
      <div class="row text-center">
        <div class="col">
          <h4 class="m-0 text-white"></h4>
          <span>Xác nhận</span>
        </div>
        <div class="col">
          <h4 class="m-0 text-white"></h4>
          <span>Thành công</span>
        </div>
        <div class="col">
          <h4 class="m-0 text-white"></h4>
          <span>Đã hủy</span>
        </div>
      </div>
    </div>
  </div>
</div>
