<section class="checkout-page rooms-area pb-5" style="padding-top: 175px">
  <div class="container shadow bg-white pb-4 pt-5 rounded">
    <mat-stepper linear #stepper>
      <mat-step [editable]="false" [completed]="true">
        <ng-template matStepLabel>CHỌN PHÒNG.</ng-template>
      </mat-step>
      <mat-step [stepControl]="secondForm">
        <form [formGroup]="secondForm" (ngSubmit)="initPayment()" novalidate>
          <ng-template matStepLabel>CHI TIẾT VỀ BẠN.</ng-template>
          <div class="row">
            <div class="col-md-4 mb-4 pr-0">
              <app-booking-detail-summary
                [roomGuestQty]="roomGuestQty"
                [cartStorage]="cartStorage"
                [accommodation]="accommodation"
              ></app-booking-detail-summary>
            </div>
            <div class="col-md-8">
              <app-hotel-card [accommodation]="accommodation"></app-hotel-card>
              <div
                *ngFor="let data of cartStorage?.cartItems"
                class="border p-3 mb-3"
                style="background: #ebf3ff"
              >
                <h4 class="mb-3">{{ data.room.roomType }}</h4>
                <div class="mb-3 d-flex align-items-center">
                  <i
                    class="fa-regular fa-circle-check text-success mr-2"
                    style="font-size: 20px"
                  ></i>
                  <p class="mb-0 text-success">
                    <strong>Miễn phí hủy</strong> đến 24-06-2024
                  </p>
                </div>
                <!-- <c:if test="${sessionScope.subDateFromNow <= 2}">
                              <div class="mb-3 d-flex align-items-center">
                                  <i class="fa-solid fa-circle-exclamation text-warning mr-2"
                                     style="font-size: 20px;"></i>
                                  <p class="mb-0 text-warning">Không hỗ trợ hủy phòng sau khi đặt</p>
                              </div>
                          </c:if> -->

                <div class="mb-3 d-flex align-items-center">
                  <i
                    class="fa-solid fa-ban-smoking mr-2"
                    style="font-size: 20px"
                  ></i>
                  <span>{{ data.room.smoke ? "Có" : "Không" }} hút thuốc</span>
                </div>

                <div class="mb-3">
                  <div class="mb-3">
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-house"></i
                        >{{ data.room.roomArea }} m<sup>2</sup></span
                      >
                    </div>
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-droplet"></i>Điều hòa không
                        khí</span
                      >
                    </div>
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-bath"></i>Phòng tắm riêng</span
                      >
                    </div>
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-tv"></i>TV màn hình phẳng</span
                      >
                    </div>
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-volume-xmark"></i>Hệ thống cách
                        âm</span
                      >
                    </div>
                    <div class="service-box">
                      <span class="text-success"
                        ><i class="fa-solid fa-wifi"></i>WiFi miễn phí</span
                      >
                    </div>
                  </div>

                  <div class="mb-3">
                    <p class="text-dark m-0" style="font-size: 15px">
                      <strong>Phù hợp cho: </strong>
                      <ng-container *ngIf="data.room.capacity > 2">
                        {{ data.room.capacity }} x
                        <i class="fa-solid fa-user"></i>
                      </ng-container>
                      <ng-container *ngIf="data.room.capacity <= 2">
                        <i class="fa-solid fa-user"></i
                        ><i class="fa-solid fa-user"></i>
                      </ng-container>
                    </p>
                  </div>

                  <div>
                    <a class="text-primary font-weight-bold" href=""
                      >Đổi lựa chọn của bạn</a
                    >
                  </div>
                </div>
              </div>

              <div class="border p-3 mb-3" style="background: #ebf3ff">
                <h4 class="mb-3">Nhập thông tin chi tiết của bạn</h4>
                <div class="mb-3">
                  <span
                    class="text-success mb-2"
                    style="background: #d2edd5; padding: 0.4em 0.8em"
                    >Gần xong rồi! Chỉ cần điền phần thông tin * bắt buộc</span
                  >
                </div>
                <div class="form-group">
                  <mat-form-field class="w-100 bg-white">
                    <mat-label>Họ</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Nhập họ của bạn ..."
                      formControlName="lastName"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="w-100 bg-white">
                    <mat-label>Tên</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Nhập tên của bạn ..."
                      formControlName="firstName"
                    />
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="w-100 bg-white">
                    <mat-label>Địa chỉ email</mat-label>
                    <input
                      type="email"
                      matInput
                      placeholder="you@example.com ..."
                      formControlName="email"
                    />
                  </mat-form-field>
                  <label class="text-muted" style="font-size: 13px">
                    Email xác nhận đặt phòng sẽ được gửi đến địa chỉ này
                  </label>
                </div>
                <div class="form-group">
                  <mat-form-field class="w-100 bg-white">
                    <mat-label>Số điện thoại</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Nhập số điện thoại ..."
                      formControlName="phoneNumber"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="border p-3 mb-3" style="background: #ebf3ff">
                <h4 class="mb-3">Các Yêu Cầu Đặc Biệt</h4>
                <div class="mb-3">
                  <p class="mb-0">
                    Các yêu cầu đặc biệt không đảm bảo sẽ được đáp ứng – tuy
                    nhiên, chỗ nghỉ sẽ cố gắng hết sức để thực hiện. Bạn luôn có
                    thể gửi yêu cầu đặc biệt sau khi hoàn tất đặt phòng của
                    mình!
                  </p>
                </div>
                <div class="mb-3">
                  <div class="form-group">
                    <mat-form-field class="w-100 bg-white">
                      <mat-label>
                        <strong
                          >Vui lòng ghi yêu cầu của bạn tại đây.
                          <small>(không bắt buộc)</small></strong
                        >
                      </mat-label>
                      <textarea
                        matInput
                        placeholder="Nhập mô tả chỗ ở ..."
                        rows="5"
                        formControlName="note"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="border p-3 mb-3" style="background: #ebf3ff">
                <h4 class="mb-3">Thời gian đến của bạn</h4>
                <div class="mb-3 d-flex align-items-center">
                  <i
                    class="fa-regular fa-circle-check text-success mr-2"
                    style="font-size: 20px"
                  ></i>
                  <p class="mb-0 text-success">
                    Các phòng của bạn sẽ sẵn sàng để nhận vào lúc 14:00
                  </p>
                </div>
                <div class="mb-3 d-flex align-items-center">
                  <i
                    class="fa-solid fa-bell-concierge text-success mr-2"
                    style="font-size: 20px"
                  ></i>
                  <p class="mb-0 text-success">
                    Lễ tân 24 giờ - Luôn có trợ giúp mỗi khi bạn cần!
                  </p>
                </div>
                <div class="mb-3">
                  <div class="mb-2">
                    <strong>Thêm thời gian đến dự kiến của bạn. </strong>
                  </div>
                  <div>
                    <div class="d-flex flex-column">
                      <mat-form-field class="w-100 bg-white">
                        <mat-label>Các lựa chọn cho bạn</mat-label>
                        <mat-select
                          class="form-select bg-transparent border-0"
                          formControlName="estCheckinTime"
                        >
                          <mat-option value="Tôi không biết"
                            >Tôi không biết</mat-option
                          >
                          <mat-option value="00:00 - 01:00"
                            >00:00 - 01:00</mat-option
                          >
                          <mat-option value="01:00 - 02:00"
                            >01:00 - 02:00</mat-option
                          >
                          <mat-option value="02:00 - 03:00"
                            >02:00 - 03:00</mat-option
                          >
                          <mat-option value="03:00 - 04:00"
                            >03:00 - 04:00</mat-option
                          >
                          <mat-option value="04:00 - 05:00"
                            >04:00 - 05:00</mat-option
                          >
                          <mat-option value="05:00 - 06:00"
                            >05:00 - 06:00</mat-option
                          >
                          <mat-option value="06:00 - 07:00"
                            >06:00 - 07:00</mat-option
                          >
                          <mat-option value="07:00 - 08:00"
                            >07:00 - 08:00</mat-option
                          >
                          <mat-option value="08:00 - 09:00"
                            >08:00 - 09:00</mat-option
                          >
                          <mat-option value="09:00 - 10:00"
                            >09:00 - 10:00</mat-option
                          >
                          <mat-option value="10:00 - 11:00"
                            >10:00 - 11:00</mat-option
                          >
                          <mat-option value="11:00 - 12:00"
                            >11:00 - 12:00</mat-option
                          >
                          <mat-option value="12:00 - 13:00"
                            >12:00 - 13:00</mat-option
                          >
                          <mat-option value="13:00 - 14:00"
                            >13:00 - 14:00</mat-option
                          >
                          <mat-option value="14:00 - 15:00"
                            >14:00 - 15:00</mat-option
                          >
                          <mat-option value="15:00 - 16:00"
                            >15:00 - 16:00</mat-option
                          >
                          <mat-option value="16:00 - 17:00"
                            >16:00 - 17:00</mat-option
                          >
                          <mat-option value="17:00 - 18:00"
                            >17:00 - 18:00</mat-option
                          >
                          <mat-option value="18:00 - 19:00"
                            >18:00 - 19:00</mat-option
                          >
                          <mat-option value="19:00 - 20:00"
                            >19:00 - 20:00</mat-option
                          >
                          <mat-option value="20:00 - 21:00"
                            >20:00 - 21:00</mat-option
                          >
                          <mat-option value="21:00 - 22:00"
                            >21:00 - 22:00</mat-option
                          >
                          <mat-option value="22:00 - 23:00"
                            >22:00 - 23:00</mat-option
                          >
                          <mat-option value="23:00 - 24:00"
                            >23:00 - 24:00</mat-option
                          >
                        </mat-select>
                      </mat-form-field>

                      <div>
                        <small>Thời gian theo múi giờ của Hà Nội</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button mat-button matStepperPrevious>Back</button>
                <button matStepperNext type="submit" class="btn palatin-btn">
                  Tiếp theo: chi tiết cuối cùng
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdForm">
        <form [formGroup]="thirdForm" (ngSubmit)="submit()" novalidate>
          <ng-template matStepLabel>BƯỚC CUỐI CÙNG.</ng-template>
          <div class="row">
            <div class="col-md-8 mb-4 pr-0">
              <div class="border-bottom mb-3">
                <h4
                  style="
                    border-bottom: 2px solid chocolate;
                    width: fit-content;
                    margin-bottom: 0;
                  "
                >
                  Chọn hình thức thanh toán
                </h4>
              </div>
              <app-hotel-card [accommodation]="accommodation"></app-hotel-card>
              <div class="border mb-3 d-flex">
                <mat-tab-group class="w-100" animationDuration="0ms">
                  <mat-tab *ngFor="let data of paymentMethods">
                    <ng-template mat-tab-label>
                      <div class="custom-tab-header">
                        <div
                          class="d-flex flex-column justify-content-between align-items-center p-3"
                        >
                          <div class="p-2 mx-2 payment-img">
                            <img width="120" class="rounded" [src]="data.img" />
                          </div>
                          <div>
                            <h6 class="mb-0">{{ data.title }}</h6>
                            <p class="font-italic text-muted mb-0">
                              {{ data.description }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <div>
                      <div #paymentRef></div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div class="d-flex justify-content-between">
                <button mat-button matStepperPrevious>Back</button>
                <button type="submit" class="btn palatin-btn">
                  Thanh toán
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <app-booking-detail-summary
                [roomGuestQty]="roomGuestQty"
                [cartStorage]="cartStorage"
                [accommodation]="accommodation"
              ></app-booking-detail-summary>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</section>
